.image{
  height:260px;
  width:400px;
}
.headerlogo{
  width:80px;
  height:80px;
  border-radius:50%;
}
.search{
  width: 350px;
}
.logo{
height: auto;
width:80%;
}
.title{
display: inline-block;
width: 200px;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
font-size: 18px;
font-weight: bold;
}
.text{
color: #fff;
}
.cardImage{
  max-height: 200px;
  min-width: auto;
}
.second-card-scroll{
  scroll-behavior:smooth;
  /* box-shadow: inset 0 0 5px grey;  */
  height: 340px !important;
  overflow-y: scroll;
  /* border-radius: 5px; */
}
.cards{
  overflow-y: auto;
}
.category{
  display: inline;
  width: 120px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.ml-5{
  color:#fff;
  text-decoration: none;
  transition: color 0.3s;
}
.ml-5:hover {
  color:#000;
}